.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  font-family: "OpenSansSemiBold";
  text-decoration: none;
  font-size: 14px;
  &--basic {
    background-color: var(--color-white);
    padding: 8px 16px;
    color: var(--color-secondary);
  }
  &--large {
    padding: 10px 22px;
    font-size: 16px;
  }
  &--fab {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    padding: 0px !important;
  }
  &--default {
    padding: 8px 16px;
  }
  &--primary {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    svg {
      width: 25px;
      height: 25px;
      path {
        fill: var(--color-tertiary);
      }
    }
  }
  &--secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
  &--tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    svg {
      width: 25px;
      height: 25px;
      path {
        fill: var(--color-secondary);
      }
    }
  }
  &--round {
    border-radius: 50%;
    padding: 8px;
  }
}
