$colorCodes: primary, secondary, tertiary, quaternary, quinary, "white";
@each $colorCode in $colorCodes {
  .text-#{$colorCode} {
    color: var(--color-#{$colorCode});
  }
  .bg-#{$colorCode} {
    background-color: var(--color-#{$colorCode});
  }
  .bg-mirror-#{$colorCode} {
    background-color: var(--color-#{$colorCode}-800);
    backdrop-filter: blur(5px);
  }
}
