@use "sass:math";
@import "./breakpoints";

$space-gaps: (
  "0": 0,
  "1": 5px,
  "2": 12px,
  "3": 16px,
  "4": 22px,
  "5": 30px,
  "6": 40px,
);

// margins and paddings
@each $key, $val in $space-gaps {
  .ms-auto {
    margin-left: auto !important;
  }
  .ms-#{$key} {
    margin-left: $val !important;
  }
  .mt-#{$key} {
    margin-top: $val !important;
  }
  .me-#{$key} {
    margin-right: $val !important;
  }
  .mb-#{$key} {
    margin-bottom: $val !important;
  }
  .mx-#{$key} {
    margin-left: $val !important;
    margin-right: $val !important;
  }
  .my-#{$key} {
    margin-top: $val !important;
    margin-bottom: $val !important;
  }
  .ps-#{$key} {
    padding-left: $val !important;
  }
  .pt-#{$key} {
    padding-top: $val !important;
  }
  .pe-#{$key} {
    padding-right: $val !important;
  }
  .pb-#{$key} {
    padding-bottom: $val !important;
  }
  .py-#{$key} {
    padding-top: $val !important;
    padding-bottom: $val !important;
  }
  .px-#{$key} {
    padding-left: $val !important;
    padding-right: $val !important;
  }
  .p-#{$key} {
    padding: $val !important;
  }
  .m-#{$key} {
    margin: $val !important;
  }
}

@include xs {
  @each $key, $val in $space-gaps {
    .ms-xs-#{$key} {
      margin-left: $val !important;
    }
    .mt-xs-#{$key} {
      margin-top: $val !important;
    }
    .me-xs-#{$key} {
      margin-right: $val !important;
    }
    .mb-xs-#{$key} {
      margin-bottom: $val !important;
    }
    .mx-xs-#{$key} {
      margin-left: $val !important;
      margin-right: $val !important;
    }
    .my-xs-#{$key} {
      margin-top: $val !important;
      margin-bottom: $val !important;
    }
    .ps-xs-#{$key} {
      padding-left: $val !important;
    }
    .pt-xs-#{$key} {
      padding-top: $val !important;
    }
    .pe-xs-#{$key} {
      padding-right: $val !important;
    }
    .pb-xs-#{$key} {
      padding-bottom: $val !important;
    }
    .py-xs-#{$key} {
      padding-top: $val !important;
      padding-bottom: $val !important;
    }
    .px-xs-#{$key} {
      padding-left: $val !important;
      padding-right: $val !important;
    }
  }
}
@include sm {
  @each $key, $val in $space-gaps {
    .ms-sm-#{$key} {
      margin-left: $val !important;
    }
    .mt-sm-#{$key} {
      margin-top: $val !important;
    }
    .me-sm-#{$key} {
      margin-right: $val !important;
    }
    .mb-sm-#{$key} {
      margin-bottom: $val !important;
    }
    .mx-sm-#{$key} {
      margin-left: $val !important;
      margin-right: $val !important;
    }
    .my-sm-#{$key} {
      margin-top: $val !important;
      margin-bottom: $val !important;
    }
    .ps-sm-#{$key} {
      padding-left: $val !important;
    }
    .pt-sm-#{$key} {
      padding-top: $val !important;
    }
    .pe-sm-#{$key} {
      padding-right: $val !important;
    }
    .pb-sm-#{$key} {
      padding-bottom: $val !important;
    }
    .py-sm-#{$key} {
      padding-top: $val !important;
      padding-bottom: $val !important;
    }
    .px-sm-#{$key} {
      padding-left: $val !important;
      padding-right: $val !important;
    }
  }
}
@include md {
  @each $key, $val in $space-gaps {
    .ms-md-#{$key} {
      margin-left: $val !important;
    }
    .mt-md-#{$key} {
      margin-top: $val !important;
    }
    .me-md-#{$key} {
      margin-right: $val !important;
    }
    .mb-md-#{$key} {
      margin-bottom: $val !important;
    }
    .mx-md-#{$key} {
      margin-left: $val !important;
      margin-right: $val !important;
    }
    .my-md-#{$key} {
      margin-top: $val !important;
      margin-bottom: $val !important;
    }
    .ps-md-#{$key} {
      padding-left: $val !important;
    }
    .pt-md-#{$key} {
      padding-top: $val !important;
    }
    .pe-md-#{$key} {
      padding-right: $val !important;
    }
    .pb-md-#{$key} {
      padding-bottom: $val !important;
    }
    .py-md-#{$key} {
      padding-top: $val !important;
      padding-bottom: $val !important;
    }
    .px-md-#{$key} {
      padding-left: $val !important;
      padding-right: $val !important;
    }
  }
}
@include lg {
  @each $key, $val in $space-gaps {
    .ms-lg-#{$key} {
      margin-left: $val !important;
    }
    .mt-lg-#{$key} {
      margin-top: $val !important;
    }
    .me-lg-#{$key} {
      margin-right: $val !important;
    }
    .mb-lg-#{$key} {
      margin-bottom: $val !important;
    }
    .mx-lg-#{$key} {
      margin-left: $val !important;
      margin-right: $val !important;
    }
    .my-lg-#{$key} {
      margin-top: $val !important;
      margin-bottom: $val !important;
    }
    .ps-lg-#{$key} {
      padding-left: $val !important;
    }
    .pt-lg-#{$key} {
      padding-top: $val !important;
    }
    .pe-lg-#{$key} {
      padding-right: $val !important;
    }
    .pb-lg-#{$key} {
      padding-bottom: $val !important;
    }
    .py-lg-#{$key} {
      padding-top: $val !important;
      padding-bottom: $val !important;
    }
    .px-lg-#{$key} {
      padding-left: $val !important;
      padding-right: $val !important;
    }
  }
}
@include xl {
  @each $key, $val in $space-gaps {
    .ms-xl-#{$key} {
      margin-left: $val !important;
    }
    .mt-xl-#{$key} {
      margin-top: $val !important;
    }
    .me-xl-#{$key} {
      margin-right: $val !important;
    }
    .mb-xl-#{$key} {
      margin-bottom: $val !important;
    }
    .mx-xl-#{$key} {
      margin-left: $val !important;
      margin-right: $val !important;
    }
    .my-xl-#{$key} {
      margin-top: $val !important;
      margin-bottom: $val !important;
    }
    .ps-xl-#{$key} {
      padding-left: $val !important;
    }
    .pt-xl-#{$key} {
      padding-top: $val !important;
    }
    .pe-xl-#{$key} {
      padding-right: $val !important;
    }
    .pb-xl-#{$key} {
      padding-bottom: $val !important;
    }
    .py-xl-#{$key} {
      padding-top: $val !important;
      padding-bottom: $val !important;
    }
    .px-xl-#{$key} {
      padding-left: $val !important;
      padding-right: $val !important;
    }
  }
}
