.mainContainer {
  width: 100%;
  height: 400px;
}

.tooltipBox {
  border-radius: 20px;
  font-weight: 700;

  &__title {
    color: var(--color-secondary);
  }

  &__total {
    color: var(--color-secondary);
  }
}
