.formControl {
  display: flex;
  flex-direction: column;
  input,
  select {
    height: 45px;
  }
  textarea {
    resize: none;
  }
  select {
    padding: 0 16px;
    appearance: none;
    option {
      padding: 8px 16px;
    }
  }

  input,
  textarea,
  select {
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: "OpenSansSemiBold";
  }
  label {
    font-family: "OpenSansSemiBold";
    font-size: 14px;
  }

  &--basic {
    label {
      color: var(--color-white);
    }
    input,
    textarea,
    select {
      color: var(--color-secondary);
      &::placeholder {
        color: var(--color-primary-800);
      }
    }
  }
  &--primary {
    label {
      color: var(--color-primary);
    }
    input,
    textarea,
    select {
      color: var(--color-secondary);
      &::placeholder {
        color: var(--color-primary-800);
      }
    }
  }
  &--secondary {
    label {
      color: var(--color-secondary);
    }
    input,
    textarea,
    select {
      &::placeholder {
        color: var(--color-secondary-800);
      }
    }
  }
  &--tertiary {
    label {
      color: var(--color-tertiary);
    }
    input,
    textarea,
    select {
      &::placeholder {
        color: var(--color-tertiary-800);
      }
    }
  }
  &--invalid {
    input,
    textarea,
    select {
      background-color: var(--color-quinary-500);
      &::placeholder {
        color: var(--color-white-800);
      }
    }
  }
}

.errorText {
  color: var(--color-quinary);
  font-size: 13px;
}
