.formControl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  margin: 16px 0;
  &--invalid {
    input {
      background-color: var(--color-danger-100);
    }
  }
}

.errorText {
  color: var(--color-danger-500);
}
