.card {
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  &--basic {
    background-color: var(--color-white);
  }
  &--primary {
    background-color: var(--color-primary);
  }
  &--tertiary {
    background-color: var(--color-tertiary);
  }
  &--secondary {
    background-color: var(--color-secondary);
  }
}
