$theme-colors: (
  "primary": #0096ff,
  "secondary": #6c757d,
  "success": #20c997,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #d70040,
  "light": #f8f9fa,
  "dark": #212529,
);

@import "~bootstrap/scss/bootstrap";

.moreItem {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.nav-tabs {
  .nav-item {
    .nav-link {
      color: white !important;
    }
    .nav-link.active {
      color: var(--bs-blue) !important;
    }
  }
}
