@use "./styles/grid";
@use "./styles/spacing";
@use "./styles/fonts";
@use "./styles/utils";
@use "./styles/colors";
@use "./styles/default";

:root {
  --color-primary: #7678ed;
  --color-primary-800: rgba(118, 120, 237, 0.8);
  --color-primary-200: rgba(118, 120, 237, 0.2);
  --color-primary-500: rgba(118, 120, 237, 0.5);
  --color-secondary: rgb(61, 52, 139);
  --color-secondary-200: rgba(61, 52, 139, 0.2);
  --color-secondary-800: rgba(61, 52, 139, 0.9);
  --color-tertiary: #f7b801;
  --color-tertiary-800: rgba(247, 186, 1, 0.8);
  --color-tertiary-200: rgba(247, 186, 1, 0.2);
  --color-quaternary: #f18701;
  --color-quaternary-800: rgba(241, 137, 1, 0.8);
  --color-quinary: #f35b04;
  --color-quinary-800: rgba(243, 92, 4, 0.8);
  --color-quinary-500: rgba(243, 92, 4, 0.5);
  --color-white: white;
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-200: rgba(255, 255, 255, 0.2);
}
